* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #72b095;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#header, #footer, div#footer > a {
    width: 100%;
    text-align: center;
    background-color: #1A202C;
    color: #72b095;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header {
    border-bottom: 1px solid white;
    height: 5vh;
}

#footer {
    position: fixed;
    height: 2.5vh;
    bottom: 0;
    border-top: solid 1px white;
}

div#core > div#buttonDiv {
    height: 15vh;
    width: auto;
    background-color: #1f7872;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.BTN {
    width: 80px;
    height: 80px;
    max-width: 160px;
    max-height: 160px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4rem;
    border-radius: 10px;
    box-shadow: #1A202C 7.5px 10px;
    border: 2px white solid;
    color: whitesmoke;

}

.BTN:active {
    transform: scale(1.05);
}

button#add.BTN {
    background: rgb(60,168,78);
background: linear-gradient(90deg, rgba(60,168,78,1) 40%, rgba(24,51,31,1) 100%);
}

button#del.BTN {
    background: rgb(166,45,45);
background: linear-gradient(90deg, rgba(166,45,45,1) 40%, rgba(59,28,34,1) 100%);
}

button#more {
    background: rgb(45,151,166);
background: linear-gradient(90deg, rgba(45,151,166,1) 40%, rgb(7, 97, 116) 100%);
}

.central {
    height: 70vh;
    border: 1px solid white;
    margin: 2em auto;
    width: 92.5vw;
    max-width: 720px;
    overflow-y: scroll;
}

#listDiv {
    background-color: #dedba7;
    padding: 5px;
    outline: solid 0.5rem #d13f31;
    outline-style: double;
}

div.book-holder {
    background-color: #d13f31;
    outline: 0.25rem white solid;
    height: 15vh;
    width: 95%;
    margin: 5px auto 20px auto;
    display: grid;
    grid-template-rows: 40% auto;
}

div.titleDiv, div.statsDiv {
    display: grid;
    grid-template-columns: auto 70%;
    grid-template-rows: auto;
    padding: 5px;
    height: 90%;
}

.date, .read {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    border: 2px #dedba7 inset;
    border-radius: 1rem;
    background-color: #1f7872;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 90%;
    margin: auto;
    
    
}

.notread {
    background-color: rgb(161, 8, 8);
    color: white;
}

.yesread {
    background-color: green;
    color: white;
}

.author, .title {
    grid-column: 2/3;
    grid-row: 1/2;
    padding-left: 10px;
    color: #1a202c;
    font-weight: 800;
    display: flex;
    align-items: center;
}

div#form {
    position: absolute;
    visibility: hidden;
    top: 50%;
    left: 50%;
    color: black;
    overflow: hidden;
    transform: translate(-50%,-44%);

}

.improved-cover {
    width: 97.5vw;
    height: 75vh;
    max-width: 720px;
    border: #1f7872 7.5px solid;
    background-color: #dedba7;
    color: #1A202C;

}

fieldset {
    width: 95%;
    margin: auto;
    height: 100%;
    padding: 10px;
    font-size: large;
    font-family: monospace;
}

input.better-area {
    width: 80%;
    max-width: 400px;
    height: 3em;
    padding-left: 5px;
    font-size: 16px;
    background-color: #d13f31;
    color: #1A202C;
    margin-bottom: 1rem;
    font-weight: 800;
}

input[type="checkbox"] {
    width: 10vw;
    margin-bottom: 25px;
}

.inner-btn {
    font-size: 16px;
    font-weight: 800;
    width: 50vw;
    max-width: 400px;
    height: 3rem;
    display: block;
    margin: -5px auto;
    border-radius: 10px;
    background-color: #1f7872;
    color: white;
}

label {
    display: block;
}

.deletion {
    background-image: url(images/remove.png);
    background-size: cover;
    background-position: center;
    background-color: red;
    font-size: 0px;
}

.hidden {
    visibility: hidden;
    display: none;
}

.guidelines {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-45%);
    overflow-y: hidden;
    padding: 1em;
    padding-left: 2em;
}

.central::-webkit-scrollbar {
    width: 10px;
}

.central::-webkit-scrollbar-thumb {
    background: #1a202c;
    border-radius: 5px;
}

.central::-webkit-scrollbar-track {
    background-color: #d13f31;
}

@media (min-width: 720px) {
    div.book-holder, div.guidelines, fieldset {
        font-size: 1.2rem;
    }

    div#core > div#buttonDiv {
        justify-content: center;
    }

    .BTN {
        margin: auto 40px;
    }
}

.container {
    display: block;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


  